.logo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 50px;
    padding-top: 30px;
    padding-bottom: 40px;
    color: rgb(58, 61, 63);
}